/*<#日期 = "2017-2-9">
  <#时间 = "4:15:39">
  <#人物 = "buff" >
  <#备注 = " ">     */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,pre{margin:0;padding:0} 
rt{font-size: 0.8em;}
body{font:16px/1.5 "Microsoft Yahei", 微软雅黑, arial,"宋体";background:#fff;} 
a{color:#2d374b;} a:hover{text-decoration:underline;color: blue;} em{font-style:normal} 
li{list-style:none} img{border:0;vertical-align:middle} table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}input[type=text]{border: 1px #ccc solid;border-radius: 2px;}
/******************+++++++++++++STRAT++++++++++++++++*********************/
#main{position: relative;width: 1000px;margin: 20px auto 0px auto;border: 1px solid #ccccff;padding: 5px 10px;}
header{width: 1000px;margin: 15px auto;text-align: center;}.red{color:red;}.mar_l_30{margin-left:30px;}
p{margin: 10px 0px;}.purple{color:#da00ff;}.green{color:#039203;}#tips{position:absolute;top: 0;right:0;}
.block_span{display: inline-block;}.ltr{direction:ltr;}.rtl{direction:rtl;}#ltr_or_rtl{width: 300px;border: 1px dashed #ccc;}
.blue{color: blue;}#clear_float{width: 240px;border: 1px dashed #000;}
#float_l_first{width: 100px;height: 100px;background-color: #ffd4df;float: left;}
#float_r_first{width: 100px;height: 100px;background-color: #4cd4dc;float: right;}
#wbr{width: 300px;border: 1px dashed #000;}#form{width: 290px;border: 1px dashed #000;padding: 0px 5px;}
#form input[type='email'],input[type='text']{width: 80px;}#form p{margin: 5px 0;}
.noselect{ -moz-user-select: none;-o-user-select:none;-webkit-user-select:none;-ms-user-select:none;}
.in_block{display: inline-block;}.w_200_r{text-align: right;width: 200px;}
#form_textarea{width: 200px;resize:vertical;vertical-align: text-top;}
#headphoto{width: 200px;border:1px solid #ddd;}
#iframe{width: 600px;}
#iframe iframe{float: left;border: 1px solid #000;resize:vertical;}
#iframe_2{border-left :none !important;max-width: 300px;}
#iframe_3{border-left :none !important;}
.border_s_black{border: 1px solid #000;}.under_line{text-decoration: underline;}
#table{border-collapse:collapse;}
#table td{border: 1px solid #000;text-align: center;padding: 0 5px;}
.holiday{display: inline-block;width: 20px;font-size: 20px;color:#9e9e9e;}
#for_drag1,#for_drag2{border:1px dashed #000;width: 130px;height: 50px;float: left;margin-left: 20px;}
#dragable img{float: left;}#hidden_attr{display: inline-block;overflow: hidden;width: 3em;height: 1.5em;vertical-align: bottom;}

/*CSS3*/

#wrap_for_animate{width: 200px;height: 200px;border:1px solid #000;position: relative;margin-left: 30px;}
#animate1{
    animation: animate1 7s  linear 1s alternate infinite;
    width: 40px;height: 40px;background-color: #ff0000;
    position: absolute;
}
@-webkit-keyframes animate1{
    0% {background: #FF0000;left:0;top:0;}
    16% {background: #FF7F00;}
    25%{left:160px;top:0;}
    32% {background: #FFFF00;}
    40% {background: #00FF00;}
    56% {background: #00FFFF ;}
    50%{top:160px;left:160px;}
    72% {background: #0000FF;}
    75%{left:0;top:160px;}
    88% {background: #8B00FF;}
    100% {background: #FF0000;top:0;top:0;}
}
@keyframes animate1{
    0% {background: #FF0000;left:0;top:0;}
    16% {background: #FF7F00;}
    25%{left:160px;top:0;}
    32% {background: #FFFF00;}
    40% {background: #00FF00;}
    56% {background: #00FFFF ;}
    50%{top:160px;left:160px;}
    72% {background: #0000FF;}
    75%{left:0;top:160px;}
    88% {background: #8B00FF;}
    100% {background: #FF0000;top:0;top:0;}
}
@-moz-keyframes animate1{
    0% {background: #FF0000;left:0;top:0;}
    16% {background: #FF7F00;}
    25%{left:160px;top:0;}
    32% {background: #FFFF00;}
    40% {background: #00FF00;}
    56% {background: #00FFFF ;}
    50%{top:160px;left:160px;}
    72% {background: #0000FF;}
    75%{left:0;top:160px;}
    88% {background: #8B00FF;}
    100% {background: #FF0000;top:0;top:0;}
}
@-o-keyframes animate1{
    0% {background: #FF0000;left:0;top:0;}
    16% {background: #FF7F00;}
    25%{left:160px;top:0;}
    32% {background: #FFFF00;}
    40% {background: #00FF00;}
    56% {background: #00FFFF ;}
    50%{top:160px;left:160px;}
    72% {background: #0000FF;}
    75%{left:0;top:160px;}
    88% {background: #8B00FF;}
    100% {background: #FF0000;top:0;top:0;}
}

#background{width: 200px;height: 60px;border: 1px dashed #000;margin-left: 30px;
            background: #d8f8ff url(../images/createPattern.jpg) 5px 5px/50px 50px repeat fixed border-box border-box;}
#box-shadow{width: 100px;height: 100px;background-color: #ff9933;box-shadow: 0 0 15px 5px #000 ;margin-left: 15px;}
#box p[data-markp]{white-space:nowrap;background-color: #ffff33}
#box div[id^='big']{width: 150px;border: 1px solid #000;margin-top: 5px;}
#big_box_visbile{overflow-x: visible;}
#big_box_hidden{overflow-x:hidden;}
#big_box_scroll{overflow-x: scroll;}
#font_span{font:600 20px/1.3 '玩蛇','宋体','微软雅黑','Microsoft Yahei',arial;}
@font-face { 
    font-family:'玩蛇';
    src: url('../images/玩蛇.ttf') ;
    src:url('../images/wanshe_ie.eot');
}
#word-break_k{display: inline-block;width: 150px;word-break: keep-all;border: 1px solid #000;}
#word-break_b{display: inline-block;width: 150px;word-break: break-all;border: 1px solid #000;}
#oldposition{width: 50px;height: 50px;border: 1px dashed #000;}
#tranform{width: 50px;height: 50px;background-color: #99ff33;
          transform: translate(380px,-35px) scale(1.5) rotate(60deg);
          -moz-transform: translate(380px,-35px) scale(1.5) rotate(60deg);
          -ms-transform: translate(380px,-35px) scale(1.5) rotate(60deg);
          -webkit-transform: translate(380px,-35px) scale(1.5) rotate(60deg);}
#transition{width: 50px;height: 50px;background-color: #FF7F00;
            transition: width,height,2s ,ease-in-out ,0s;
            -webkit-transition: width,height,2s ,ease-in-out ,0s;
            -moz-transition: width,height,2s ,ease-in-out ,0s;
            -ms-transition: width,height,2s ,ease-in-out ,0s;
            -o-transition: width,height,2s ,ease-in-out ,0s;}
#transition:hover{width: 100px;height: 100px;}
.box-sizing{width: 100px;height: 100px;overflow: hidden;padding: 10px;border: 5px solid #33ff66;text-align: center;}
.content-box p{margin: 38px auto;}
.border-box p{margin: 11px auto;}
.content-box{box-sizing: content-box;float: left;}
.border-box{box-sizing: border-box;float: left;margin-left: 20px;}
#before::before{content: "prefix-";color:#FF7F00;font-size: 20px;font-weight: 600;margin-right: 10px;}
#after::after{content: "-end";color:red;font-size: 20px;font-weight: 600;margin-left: 10px;}
#selection::selection{color:red;}
#selection::-moz-selection{color:red;}
#text-indent{text-indent: 2rem;width: 200px;border:1px dashed #000;}
#strict_mode li{list-style-type:decimal;margin-left: 1.5em;}

/*jQuery*/
#for_fade_warp{width: 100px;height: 100px;}
#for_fade{width: 100px;height: 100px;background-color: #FF7F00;}
#for_slide_warp{width: 200px;height: 60px;}
#for_slide{width: 200px;height: 60px;background-color: #FF7F00;}
#for_animate_waro{width: 200px;height: 200px;border: 1px solid #000;position: relative;}
#for_animate{width: 40px;height: 40px;background-color:#FF7F00;position: absolute;}
.pointer{cursor: pointer;}
#for_chaining{width: 50px;height: 50px;background-color: #FF7F00;position: relative;}
#remove_main{width: 100px;height: 50px;border: 1px #000 solid;}
.remove_div1{width:50px;height: 50px;background-color: red;float: left;}
.remove_div2{width:50px;height: 50px;background-color: #FF7F00;float: left;}
#for_catch_size{width: 50px;height: 50px;padding: 10px;margin: 10px 10px;border: 5px solid #000;background-color: #FF7F00;}
#ajax_load,#ajax_get,#ajax_post,#ajax_ajax{color:blue;cursor: pointer;text-decoration: underline;}
.click_it{color: blue;text-decoration: underline;cursor: pointer;}
#serialize_form{border: 1px solid #000;width: 200px;}
#serialize_form p{text-align: center;}
#serialize_form_cont{background-color: #FFFF00;width: 600px;}
#serialize_form_json_cont{background-color: #FFFF00;width: 600px;}



